@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

button:focus {
  outline: none;
}

.paginationButton {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}

.paginationButton .Mui-selected {
  background-color: #0ac76f !important;
  border: 1px solid #10b26c;
  color: white;
}

.MuiTabs-root .Mui-selected {
  color: #0ac76f !important;
}

.MuiTabs-root .MuiTabs-indicator {
  background-color: #0ac76f !important;
}
